Library/
Logs/
Obj/
Temp/
Build/
Builds/
MemoryCaptures/
Packages/manifest.json
Packages/packages-lock.json
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.tmp
*.userprefs
.idea/
*.dotCover
*.Rider*
UserSettings/